.reveal code.small{
    font-size: 15pt;
}

.reveal img.transparent {
    background-color: transparent;
    border:0;
}

ul.nobullet {
    list-style-type: none;
}

ul.nobullet ul.nobullet {
    list-style-type: circle; 
}



hr {
    border-color: rgb(28,0,146);
}

.green {
    color: rgb(150,227,9);
}

.yellow {
    color: yellow;
}