.reveal code.small{
    font-size: 15pt;
}

.reveal img.transparent {
    background-color: transparent;
    border:0;
}

ul.nobullet {
    list-style-type: none;
}

hr {
    border-color: rgb(28,0,146);
}
